:root {
  --white: #FCFCFC;
  --red: #ea5455;
  --hp-red: #e74c3c;
  --hp-gray: #555555;
  --purple: #6F42C1;
  --golden: #ffe44c;
  --light-gray: #cccccc;
  --dark-gray: #2c1f3a;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.icon {
  width: 30px !important;
  margin-right: .5rem;
}

.swal2-confirm {
  background-color: var(--purple) !important;
}